@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* barra navegacion */


.contenido {
    background-size: cover;
    background-position: center center;
    
}



.contenido header {
    background-color: #000000;
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 0;
    
}

a .magic {
    width: 65px;
   


}

.contenido header .contenido-header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: rgb(209, 39, 152);
    margin: 0 12px;
    font-weight: 400;
    transition: .9s;
    
}

.contenido header .contenido-header nav ul li a:hover {
    color: #d9ff02;
    font-size: large;
}

.contenido header .contenido-header .seleccionado {
    color: #ffffff;
}

/* index */
.binicio {
    background-image: linear-gradient(to top, rgba(206, 55, 156, 0.945) , rgb(141, 9, 82))
}
.contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido .presentacion .bienvenida {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px rgb(212, 10, 94);
    
            

}


    


    
    .contenido .presentacion .bienvenida {
      color: hsla(0, 0%, 0%, .9);
      font: normal 50px Varela Round, sans-serif;
      height: 140px;
      left: 0;
      letter-spacing: 5px;
      margin: -200px 0 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 50%;
      width: 100%;
      animation: move linear 2000ms infinite;  
    }
    
    @keyframes move {
      0% {
        text-shadow:
          4px -4px 0 hsla(0, 100%, 50%, 1), 
          3px -3px 0 hsla(0, 100%, 50%, 1), 
          2px -2px 0 hsla(0, 100%, 50%, 1), 
          1px -1px 0 hsla(0, 100%, 50%, 1),
          -4px 4px 0 hsla(180, 100%, 50%, 1), 
          -3px 3px 0 hsla(180, 100%, 50%, 1), 
          -2px 2px 0 hsla(180, 100%, 50%, 1), 
          -1px 1px 0 hsla(180, 100%, 50%, 1)
        ;
      }
      25% {    
        text-shadow:      
          -4px -4px 0 hsla(180, 100%, 50%, 1), 
          -3px -3px 0 hsla(180, 100%, 50%, 1), 
          -2px -2px 0 hsla(180, 100%, 50%, 1), 
          -1px -1px 0 hsla(180, 100%, 50%, 1),
          4px 4px 0 hsla(0, 100%, 50%, 1), 
          3px 3px 0 hsla(0, 100%, 50%, 1), 
          2px 2px 0 hsla(0, 100%, 50%, 1), 
          1px 1px 0 hsla(0, 100%, 50%, 1)      
        ;
      }
      50% {
        text-shadow:
          -4px 4px 0 hsla(0, 100%, 50%, 1), 
          -3px 3px 0 hsla(0, 100%, 50%, 1), 
          -2px 2px 0 hsla(0, 100%, 50%, 1), 
          -1px 1px 0 hsla(0, 100%, 50%, 1),
          4px -4px 0 hsla(180, 100%, 50%, 1), 
          3px -3px 0 hsla(180, 100%, 50%, 1), 
          2px -2px 0 hsla(180, 100%, 50%, 1), 
          1px -1px 0 hsla(180, 100%, 50%, 1)
        ;
      }
      75% {
        text-shadow:
          4px 4px 0 hsla(180, 100%, 50%, 1), 
          3px 3px 0 hsla(180, 100%, 50%, 1), 
          2px 2px 0 hsla(180, 100%, 50%, 1), 
          1px 1px 0 hsla(180, 100%, 50%, 1),
          -4px -4px 0 hsla(0, 100%, 50%, 1), 
          -3px -3px 0 hsla(0, 100%, 50%, 1), 
          -2px -2px 0 hsla(0, 100%, 50%, 1), 
          -1px -1px 0 hsla(0, 100%, 50%, 1)      
        ;
      }
      100% {
        text-shadow:
          4px -4px 0 hsla(0, 100%, 50%, 1), 
          3px -3px 0 hsla(0, 100%, 50%, 1), 
          2px -2px 0 hsla(0, 100%, 50%, 1), 
          1px -1px 0 hsla(0, 100%, 50%, 1),
          -4px 4px 0 hsla(180, 100%, 50%, 1), 
          -3px 3px 0 hsla(180, 100%, 50%, 1), 
          -2px 2px 0 hsla(180, 100%, 50%, 1), 
          -1px 1px 0 hsla(180, 100%, 50%, 1)
        ;
      }  
    }
 

.contenido .presentacion h2 {
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.contenido .presentacion h2 span {
    font-size: 20px;
    color: #e0236b;
}

.contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

.indxfooter {
    
    color: rgb(14, 3, 3);
    text-align: center;
    background-image: linear-gradient(to top, rgba(206, 55, 156, 0.945) , rgb(141, 9, 82))
    
} 



/* Empresa */
.bempresa {
    background-image: linear-gradient(to top, rgba(206, 55, 156, 0.945) , rgb(141, 9, 82))
}

.nosotros h2 {
    max-width: 1100px;
    height: 50vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(212, 10, 94);
}

.nosotros p {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    
}

.nosotros {
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.nosotros {
    font-size: 45px;
    color: #000000;
}

.nosotros {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

.efooter {
    text-align: center;
    background-image: linear-gradient(to top, rgba(206, 55, 156, 0.945) , rgb(141, 9, 82))
    
}


/*PRODUCTOS*/
.bproductos {
    background-image: linear-gradient(to top, rgba(206, 55, 156, 0.945) , rgb(141, 9, 82))

}

.especialidad .nespecialidad {
    max-width: 1100;
    height: 30vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(212, 10, 94);
    
}


.especialidad .clasicos .ulc .li {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.ulne {
    list-style-type: none;
}

.ulc {
   
    list-style-type: none;
}

.ulp {
    list-style-type: none;
}

.ule {
    list-style-type: none;
}

/*SABORES*/

.spdisfrutar {
    max-width: 1100;
    height: 10vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(212, 10, 94);
}

.cremas {
    max-width: 1100;
    height: 30vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(223, 81, 187);
}

.chocolates {
max-width: 1100;
height: 30vh;
color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-transform: uppercase;
text-shadow: 2px 2px 2px rgb(223, 81, 187);
}

.dll {
    max-width: 1100;
    height: 30vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(223, 81, 187);
}
.cpremium {
    max-width: 1100;
    height: 30vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(223, 81, 187);
}

.fcrema {
max-width: 1100;
height: 30vh;
color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-transform: uppercase;
text-shadow: 2px 2px 2px rgb(223, 81, 187);
}

.fagua {
    max-width: 1100;
    height: 30vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(223, 81, 187);
}

.bsabores {
    background-image: linear-gradient(to top, rgba(206, 55, 156, 0.945) , rgb(141, 9, 82))
}

.sfooter {
    text-align: center;
    background-image: linear-gradient(to top, rgba(206, 55, 156, 0.945) , rgb(141, 9, 82))

}





/*CONTACTO*/

.bcontacto {
    
        background-image: linear-gradient(to top, rgba(206, 55, 156, 0.945) , rgb(141, 9, 82))
    
}

